<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Arguments -->
  <arg name="initial_ts_state_from_agent" default="False"/>
<!--   <arg name="num_mobile" default=1/> -->
<!--   <arg name="num_quadruped" default=1/> -->

  <arg name="agent_name" default="turtlebot"/>
  <arg name="rviz" default="true"/>

<!--   <param name="agent_name" type="string" value="$(arg agent_name)" /> -->
  <!-- hard and soft task parameters -->
  <rosparam command="load" file="$(find ltl_automaton_planner)/config/ltl_formula_turtlebot_test.yaml" />

  <!-- Transition system for mobile robot-->
  <param name="transition_system_turtlebot_textfile" type="str" textfile="$(find ltl_automaton_planner)/config/ts_turtlebot_08_new.yaml" />

  <!-- Run the gazebo world for turtlebot -->
  <include file="$(find ltl_automaton_bt)/launch/turtlebot_sim_bt_decen.launch">
    <arg name="agent_name" value="$(arg agent_name)" />
    <arg name="plan_name" value="/$(arg agent_name)/local_planner/action_plan" />
    <arg name="homing_name" default="$(arg agent_name)/local_planner/homing_action_plan"/>
    <arg name="pose_x" default="0.0" />
    <arg name="pose_y" default="0.0" />
    <arg name="init_yaw" default="0.0" />
  </include>


</launch>
