<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Arguments -->
  <arg name="initial_ts_state_from_agent" default="False"/>
<!--   <arg name="num_mobile" default=1/> -->
<!--   <arg name="num_quadruped" default=1/> -->

  <arg name="agent_name" default="mini_cheetah"/>
  <arg name="rviz" default="true"/>

<!--   <param name="agent_name" type="string" value="$(arg agent_name)" /> -->
  <!-- hard and soft task parameters -->
  <rosparam command="load" file="$(find ltl_automaton_planner)/config/ltl_formula_mini_cheetah_test.yaml" />

  <!-- Transition system for mobile robot-->
  <param name="transition_system_mini_cheetah_textfile" type="str" textfile="$(find ltl_automaton_planner)/config/ts_mini_cheetah_new.yaml" />

  <!-- Run the gazebo world for mini-cheetah -->
  <include file="$(find ltl_automaton_bt)/launch/mini_cheetah_real_bt_decen_unitest.launch">
    <arg name="agent_name" value="$(arg agent_name)" />
    <arg name="plan_name" value="/$(arg agent_name)/local_planner/action_plan" />
    <arg name="homing_name" default="$(arg agent_name)/local_planner/homing_action_plan"/>
    <arg name="pose_x" default="0.0178523" />
    <arg name="pose_y" default="1.2468818" />
    <arg name="init_yaw" default="0.0" />
  </include>


</launch>
